<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr>
</div>
<!--
<addtask></addtask>
<viewtask> View Tasks</viewtask>
-->
<div> 
  <a routerLink="/" > <button type="button" class="btn btn-success btn-lg">View Task</button> </a> 
   <a routerLink="/add"><button type="button" class="btn btn-success btn-lg" style="margin:5px;">Add Task</button></a>
</div>
<hr>
<router-outlet></router-outlet>
</div>