  
  <div class="form-group">
      <label class="control-label col-sm-2" for="searchByTask">Task:</label>
    <div class="col-sm-3"> 
      <input class="form-control" id="searchByTask" [(ngModel)]="searchByTask"
              type="text"  name="searchByTask" placeholder="Search By Task">       
    </div>

    <label class="control-label col-sm-2" for="searchByParent">Parent:</label>
    <div class="col-sm-3"> 
        <input class="form-control" type="text" id="searchByParent" [(ngModel)]="searchByParent" 
        name="searchByParent" placeholder="Search By Parent">       
      </div>
  </div>
  <br>
  <br>
  <div class="form-group">
      <label class="control-label col-sm-2" for="searchByPriorityFrom">Priority From:</label>
      <div class="col-sm-3"> 
        <input class="form-control" id="searchByPriorityFrom" [(ngModel)]="searchByPriorityFrom"
                type="text"  name="searchByPriorityFrom" placeholder="Priority From">       
      </div>
  
      <label class="control-label col-sm-2" for="searchByPriorityTo">Priority To:</label>
      <div class="col-sm-3"> 
          <input class="form-control" type="text" id="searchByPriorityTo" [(ngModel)]="searchByPriorityTo" 
          name="searchByPriorityTo" placeholder="Priority To">       
        </div>
    </div>
    <br>
  <br>
  <div class="form-group">
      <label class="control-label col-sm-2" for="fromDate">Start Date:</label>
      <div class="col-sm-3"> 
        <input class="form-control" id="fromDate" [(ngModel)]="fromDate"
                type="date"  name="fromDate" >       
      </div>
      
      <label class="control-label col-sm-2" for="taskName">End Date:</label>
      <div class="col-sm-3"> 
          <input class="form-control" type="date" id="toDate" [(ngModel)]="toDate" 
          name="toDate" >       
        </div>
  </div>
<br>
<hr>
<table class="table table-striped table-hover table-condensed table-bordered-horizontal" >
  <thead >
    <tr class="success">
      <th>Task</th>
      <th>Parent</th>
      <th>Priority</th>
      <th>Start</th>
      <th>End</th>
      <th>Update</th>
      <th>Complete</th>
    </tr>
  </thead>
 <!-- <tr *ngFor="let task of  (tasksArr | searchByTask: searchByTask)">    
    <tr *ngFor="let task of tasksArr | searchByTask: searchByTask | searchByParent :searchByParent ">
  <tr *ngFor="let task of tasksArr | searchByTask: searchByTask | searchByParent :searchByParent 
  | searchByPriority: searchByPriorityFrom:searchByPriorityTo ">-->
  <tr *ngFor="let task of tasksArr | searchByTask: searchByTask | searchByParent :searchByParent 
                | searchByPriority: searchByPriorityFrom:searchByPriorityTo | searchByDate: fromDate:toDate ">
    <td>{{task.taskName}}</td>
    <td>{{task.parentTask ? task.parentTask['parentTask'] : ''}}</td>
  <!--  <td>{{ task.parentTask['parentTask'] }}</td>-->
    <td>{{task.priority}}</td>
    <td>{{task.startDate | date:"MM/dd/yyyy"}} </td>
    <td>{{task.endDate | date:"MM/dd/yyyy"}}</td>
    <td><button type="submit" [disabled]="task.isEnded" (click)="editTask($event,task)" class="btn btn-primary">Edit</button></td>
    <td><button type="button" [disabled]="task.isEnded" (click)="completeTask($event,task)" class="btn btn-primary">End Task</button></td>
  </tr>
  </table>
